<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Vanished LES Clubs">
  <meta name="keywords" content="Alternate reality, NYC, live music, pre-internet">
  <link rel="stylesheet" href="/styles.css">
  <title>Vanished LES</title>
</head>
<body>
<h1>Vanished LES: Fake Club Reviews of Closed Clubs</h1>

<%= yield %>

</body>
</html>
